@import "colors/_project_default";
@import "../general/_button";
// General ---------------
$basic-font-color: #999999;
$main-blue : #13143C;
$shadowed-bg : rgba(0, 0, 0, 0.3);
$white-title: $white;
// -----------------------



// Buttons ---------------

// -----------------------

// Forms ----------------

// -----------------------