main {
  overflow: hidden; //this is crutch for slider
}

.menu-open {
  overflow: hidden;
  padding-right: 15px;
}

.hide_on_mobile {
  @media (max-width: $small-screen-down) {
    display: none !important;
  }
}

.show_on_tablet-and_up {
  @media (min-width: $medium-screen) {
    display: block !important;
  }
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.7rem;
  font-weight: 700;
  color: $basic-blue;
  margin: 0;
  padding: 5rem 0;
  width: 100%;
}
