

.cards_block {
  &.favorites {

    .card_favorites {
      border-top: none;
      max-width: 36rem;
      padding-bottom: 0;

      img {
        height: auto;
      }

      .caption, .date {

        max-width: 100%;
        margin: 1.3em 0;
        padding-left: 1.6rem;
        text-align: left;
      }
    }

    .card-mark {
      display: block;
      padding: .4rem;
      text-transform: uppercase;
      border: none;
      outline: none;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.13);
      width: 120px;
      border-radius: 25px;
      background-color: $white;
      font-weight: 600;
      font-size: 1.1rem;
      color: $basic-blue;
      position: absolute;
      bottom: -1.5rem;
      left: calc(50% - 60px);
      transition: transform .25s ease-in-out;
      &:hover {
        transform: translateY(-.3rem);
      }
    }

  }
}

