.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    color: #13143c; 
    margin: 4rem auto 9rem auto;
    width: 100%;
}

.cards_block {
    margin: 5rem 0;

    .col {
        padding: 0;
        margin: 0 4rem;
    }
}

.card {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.05);
    max-width: 500px;

    &-image {
        border-top: 8px solid #13143c; 
        width: 100%;
    }

    .like {
        position: absolute;
        top: 5px;
        right: 5px;
    }

    .event_caption {
        display: block;
        text-align: center;
        text-transform: uppercase;
        padding: .7rem;
        width: 100%;
        font-size: 1.2rem;
        color: #b3b3b3;
    }

    .caption {
        display: block;
        font-size: 1.3rem;
        text-align: center;
    }

    .date {
        @extend .caption;
        font-size: .9rem;
        padding-top: .5rem;
    }

    .btn {
        display: block;
        margin: 1rem auto;
        padding: .5rem 2rem;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 5px;
        background-color: #13143c;
        transition: all .5s ease-in-out;
    
        &_transparent { 
            @extend .btn;
            border: 1px solid #000;
            border-radius: 25px;
            background-color: transparent;
    
            &:hover {
                background-color: #13143c;
                color: #fff;
            }
    
        }
    
    }

}





