.cards-block {

    .card {
        position: relative;
        padding-bottom: 2rem;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
        margin-bottom: 8rem;

        &-wrap {
            padding: 0 5rem;
        }

        img {
            min-width: 100%;
            height: auto;
        }

        .like {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            width: 2rem;
            height: 2rem;
            background-color: #fff;
        }

        .event-caption {
            display: block;
            width: 100%;
            padding: 1rem 0 0 0;
            text-transform: uppercase;
            font-weight: 800;
            text-align: center;
            font-size: 2.4rem;
            color: #8B8D99;
        }

        .date {
            @extend .event-caption;
            font-size: 1.5rem;
            font-weight: 700;
            padding-bottom: 2rem;
        }

        .caption {
            margin: .5rem auto;
            max-width: 30rem;
            font-size: 2.2rem;
            text-align: center;
            font-weight: 700;
        }

        .btn_transparent {
            display: block;
            margin: 0 auto;
            background: transparent;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 1.8rem;
            padding: .3rem 2.2rem;
            border: 1px solid #000;
            border-radius: 25px;
            transition: all 250ms ease-in-out;

            &:hover {
                background-color: #13143c;
                color: #fff;
            }

        }

    }

}