.main_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3.5rem 0;
    background-color: #13143c; 
    color: #fff;
    font-size: 1.2rem;

  .border_right {

  }

  .logo_link {

  }

  .social_link {
    svg {
      fill: #fff;
    }
  }
}

.footer_address {
  p {

  }
}

.social_list {
  display: flex;
  justify-content: center;
  align-items: center;

  .social_item {

  }

  .social_link {
    display: inline-block;
    padding: 15px;
  }
}

.footer_address-wrap {
  display: flex;
  align-items: center;

  .footer_address {
    margin-left: 1rem;

    p {
      margin: 0;
    }
  }
}

.footer_info {
  text-align: center;
  margin: 2rem 0 0;

  .info_item {
    margin: 0;

    &:last-child {
      margin-top: 10px;
    }
  }
}

