.main_header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  background: {
    size: cover;
    position: left bottom;
  };
}

.site_header,
.scrolldown_block {
  position: absolute;
}

.header_info {
  text-align: center;
}

.site_header {
  width: 8rem;
  position: absolute;
  top: 3.4rem;
  left: 3.4rem;
  z-index: 50;
  background-color: rgba(0,0,0,.2);
  border-radius: 4px;
  color: #fff;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0,0,0,.2);
  overflow: hidden;

  @media (max-width: $medium-screen-down) {
    display: none;
  }

  .header_logo {
    background-color: #20093f;
    height: 8rem;
    padding: 1.6rem .7rem;
  }

  .item_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 1rem;
    padding: 1.5rem 1rem;
    text-align: center;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }

    svg {
      height: 3.5rem;
      margin-bottom: 1rem;
    }
  }
}

.header_navigator {
  display: flex;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0,0,0,.2);

  @media (max-width: $large-container ) {
    position: fixed;
    top: 3.4rem;
    right: 3.4rem;
  }

  .navigator_item {
    display: flex;
    align-items: center;
    height: 6.5rem;
    line-height: 6.5rem;
    padding: 0 1.5rem;
    color: #4e92df;
    cursor: pointer;

    svg {
      fill: #4e92df;
    }
  }

  .nav-search {
    @media (max-width: $small-screen ) {
      display: none;
    }
  }
}

.hamburger_open,
.hamburger_close,
.navigator_link,
.site_navigation_link {
  display: flex;
  align-items: center;
}

.site_navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  .navigation_menu {
    align-self: flex-start;
    padding: 0 4rem 4rem;

    @media (min-width: 640px) {
      width: 100%;
    }
  }

  .navigation_item {

    &.is-open {
      .navigation_sublist {
        opacity: 1;
        transition: opacity 150ms ease-in 100ms;
      }
    }

    .navigation_sublist {
      display: none;
      padding-left: 24px;
      opacity: 0;
      transition: opacity 150ms ease-in;
    }
  }

  .navigation_link {
    display: block;
    line-height: 5.4rem;
    font-size: 2.88rem;

    @media (min-width: 640px) {
      position: relative;
      text-transform: uppercase;
      line-height: 6.8rem;
      font-size: 3.2rem;
      overflow: hidden;

      &:hover {
        &:after {
          transform: scale(1,1);
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:before {
        background-color: rgba(255,255,255,.5);
        width: 100%;
        height: .1rem;
      }

      &:after {
        background-color: #fff;
        width: 100%;
        height: .1rem;
        transform: scale(0,1);
        transform-origin: top left;
        transition: transform .5s ease-in-out;
      }
    }
  }

  .navigation_subitem {
    padding: .5rem 0;
    cursor: pointer;

    @media (min-width: 640px) {
      position: relative;
      padding: 1rem 0;
      text-transform: uppercase;
      transform: translateX(0);
      transition: transform .5s ease;

      &:hover {
        transform: translateX(1rem);

        &:after {
          transform: scale(1,1);
        }
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:before {
        background-color: rgba(255,255,255,.5);
        width: 100%;
        height: .1rem;
      }

      &:after {
        background-color: #fff;
        width: 100%;
        height: .1rem;
        transform: scale(0,1);
        transform-origin: top left;
        transition: transform .5s ease-in-out;
      }
    }
  }
}


.site_navigation_wrap {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 48rem;
  max-width: 100%;
  height: 100vh;
  background-color: #4e92df;
  font: {
    family: $extra-font-family;
    weight: 700;
  }
  color: #fff;
  overflow: auto;
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(0,0,0,.2);

  &.is-open {
    transform: none;
  }

  a {
    color: #fff;
  }

  @media (max-width: 480px) {
    box-shadow: none;
  }
}

.site_navigation_list {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding: 0 3rem;

  .site_navigation-item {
    display: flex;
    align-items: center;
    height: 6.5rem;
    padding: 0 1.5rem;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, .03);
      border-radius: .5rem;
    }

    svg {
      fill: #fff;
    }
  }
}

.search_form {
  display: flex;
}

.search_el {

  &.is-open {
    .search_input {
      width: 120px;
      opacity: 1;
    }

    .search_form {
      position: relative;
    }

    .submit-input {
      display: block !important;
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: 100%;
      width: 3rem;
      opacity: 0;
      font-size: 0;
      border: 0;
    }
  }

  .search_input {
    width: 0;
    padding: 0;
    padding-left: 1.2rem;
    opacity: 0;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    transition: width .4s ease-out,opacity .3s ease-out .4s;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }

  .search_label {
    display: flex;
    align-items: center;
  }
}

.practice_menu {
  margin-top: auto;
  background-color: #fff;

  @media (min-width: 768px) {
    display: none;
  }

  .practice_list {
    display: flex;
    flex-wrap: wrap;

    .menu_item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      padding: 1.5rem;
      color: #4e92df;
      text-align: center;
      overflow: hidden;
      flex: 1 0 calc(100% / 3);
      max-width: calc(100% / 3);
      border-right: .1rem solid #d5d5d5;
      border-bottom: .1rem solid #d5d5d5;
      font-size: .96rem;
      line-height: 1.5;

      &:nth-child(3),
      &:nth-child(6),
      &:nth-child(9) {
        border-right: none;
      }

      svg {
        width: 30px;
        margin: 0 auto;
      }
    }
  }

  .practice_block {

    .practice_item {
      display: none;
    }
  }
}