.location_wrap {
  padding: 4em 0;
  background-color: #0a0e39;

  .location_illustration,
  .location_info {
    margin: 2rem 0;
    padding: 2rem 1rem;
  }

  .location_wrap-inner {
    display: flex;
    flex-direction: column;

    .location_illustration {
      flex-grow: 1;
    }

    .location_info {
      min-width: 25%;
    }

    @media (min-width: $medium-screen) {
      flex-direction: row;

      .location_illustration {
        padding: 2rem 3rem 2rem 0;
      }

      .location_info {
        padding: 2rem 0 2rem 3rem;
      }
    }
  }

  .location_switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    color: #fff;
    user-select: none;

    @media (min-width: $medium-screen) {
      justify-content: flex-start;
    }

    label {
      display: flex;
      margin: 0 1rem;
    }

    .switcher_input {
      display: none;

      + span {
        height: 1.6rem;
        width: 4.5rem;
        display: inline-block;
        padding: .1rem;
        background-color: #fff;
        border-radius: .8rem;
        cursor: pointer;

        &:after {
          content: '';
          float: left;
          width: 1.4rem;
          height: 1.4rem;
          background-color: #0a0e39;
          border-radius: .7rem;
          transition: transform .3s ease;
        }
      }

      &:checked {
        + span {
          &:after {
            transform: translateX(2.8rem);
          }
        }
      }
    }
  }

  .location_list {
    margin-top: 2rem;
    font-size: 1.6rem;
    color: #fff;

    .list_item {
      padding: 1rem;

      + .list_item {
        border-top: .1rem solid #fff;
      }
    }
  }

  .list_item {
    h4, p {
      margin: 0;
    }

    h4 {
      font-size: 1.6rem;
      font-weight: 600;
    }

    p {
      font-weight: 300;
    }
  }
}

.weather_slider {
  padding: 10rem 0 13rem;
  color: #12143c;

  .slider_item {
    width: 25%;
    padding: 1rem 5rem 3rem;
    text-align: center;
  }

  .weather_temperature {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    font-size: 6rem;
    font-weight: 300;

    &:after {
      content: '\00b0';
      font-size: 4rem;
    }
  }

  .weather_type {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .weather_date {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0;

    span {
      padding: 0 .5rem;
      white-space: nowrap;

      + span {
        border-left: .1rem solid #12143c;
      }
    }
  }

  .felt_temperature {
    font-size: 3.8rem;
    margin: 0;
  }

  .felt_description {
    font-size: 1.2rem;
    margin: 0;
  }
}
