.counts {
  position: relative;
  padding: 0 7rem 2rem 7rem;

    .info_item {
      padding: 0;
      text-align: center;
      color: $black;
      vertical-align: middle;
    }

    .caption {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 120px;
      margin-bottom: 1.2rem;
      line-height: 120px;

      &-outer {
        display: inline-block;
        max-width: 12rem;
        font-size: 1.4rem;

      }
    }

    .circle {
      display: block;
      width: 120px;
      height: 120px;
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      border: {
        width: 1px;
        color: $black;
        style: solid;
        radius: 50%;
      };
    }

    .btn {
      display: block;
      margin: 3rem auto;
    }

}

@media (min-width: $small-screen) {
  .counts {

    .caption {
      margin-bottom: 0;
      line-height: 140px;
      height: 140px;
      width: 140px;

      &-outer {
        display: block;
        margin: 2rem auto;
      }

      .circle {
        width: 140px;
        height: 140px;
        margin: 0 auto;
      }
    }

  }
}





