.counts {

    .title {
      font-size: 3rem;
      margin: 2rem auto;
    }

    .info_item {
      text-align: center;
      color: $black;
      vertical-align: middle;
    }

    .caption {
      position: relative;
      display: inline-block;
      width: 50%;
      height: 120px;
      margin-bottom: 1.2rem;
      line-height: 120px;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 700;

      &-outer {
        display: inline-block;
        max-width: 10rem;

      }
    }

    .circle {
      display: block;
      width: 120px;
      height: 120px;
      border: {
        width: 1px;
        color: $black;
        style: solid;
        radius: 50%;
      };
    }

    .btn {
      display: block;
      margin: 3rem auto;
    }

}

@media (min-width: $small-screen) {
  .counts {

    .caption {
      margin-bottom: 0;
      line-height: 140px;
      height: 140px;
      width: 140px;

      &-outer {
        display: block;
        margin: 2rem auto;
      }

      .circle {
        width: 140px;
        height: 140px;
        margin: 0 auto;
      }
    }

  }
}

@media (min-width: $medium-screen) {

  .counts {

    .title {
      font-size: 4.5rem;
      margin: 6rem auto;
    }

    .caption {
      margin-bottom: 0;
      line-height: 140px;
      height: 140px;
      width: 140px;

      &-outer {
        display: block;
        margin: 2rem auto;
      }

      .circle {
        width: 140px;
        height: 140px;
        margin: 0 auto;
      }
    }

    .info_item-wrap {
      padding: 5rem auto;

    }

  }
}





