.name_form {
  padding-bottom: 2rem;

  .caption {
    display: block;
    max-width: 50rem;
    margin: 3rem auto;
    padding: 2.2rem 5rem;
    line-height: 3rem;
    text-align: center;
    font-weight: 500;
    color: $basic-font-color;
  }

  .name_input {
    display: block;
    color: $basic-font-color;
    width: 60%;
    margin: 2rem auto;
    text-align: center;
    outline: none;
    opacity: .7;
    border: {
      top: 0;
      right: 0;
      left: 0;
      bottom: 1px solid $basic-font-color;
    };

    &:focus {
      opacity: 1;
    }
  }
}

.desire_block {

  .desire_title {

  }

  .desire_list {

  }

  .desire_item {

  }

  .desire_btn {
    display: block;
    color: #13143C;
    background-color: #fff;
    border: 1px solid #13143C;
    text-align: center;
  }

  .desire_input {
    display: none;

    &:checked {
      + .desire_btn {
        background-color: #13143C;
        color: #fff;
      }
    }
  }
}