@import "../utilities/variables";

.info_safety {
    background: {
        image: url("../img/daniel-frank-223182.jpg");
        size: cover;
        position: center;
    };

    .title {
        font-size: 3rem;
        margin: 2rem auto;
    }

    .info_item {
        text-align: center;
        color: $white;
        vertical-align: middle;
    }

    .caption {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 120px;
        margin-bottom: 1.2rem;
        line-height: 120px;
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 700;

        &-outer {
            display: inline-block;
            max-width: 10rem;

        }
    }

    .circle {
        display: block;
        width: 120px;
        height: 120px;
        border: {
            width: 1px;
            color: $white;
            style: solid;
            radius: 50%;
        };
    }

    .btn {
        display: block;
        margin: 3rem auto;
    }

}

@media (min-width: $small-screen) {
    .info_safety {

        .caption {
            margin-bottom: 0;
            line-height: 140px;
            height: 140px;
            width: 140px;
            &:before {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 100%;
                width: 100%;
                height: .1rem;
                background-color: $white;
            }
            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 100%;
                width: 100%;
                height: .1rem;
                background-color: $white;
            }

            &-outer {
                display: block;
                margin: 2rem auto;
            }

            .circle {
                width: 140px;
                height: 140px;
                margin: 0 auto;
            }
        }

        .info_item-wrap {
            padding: 5rem auto;

            :nth-child(2) {
                .caption {
                    &:after {
                        display: none;
                    }
                }
            }
            :nth-child(3) {
                .caption {
                    &:before {
                        display: none;
                    }
                }
            }
        }

    }
}

@media (min-width: $medium-screen) {

    .info_safety {

        .title {
            font-size: 4.5rem;
            margin: 6rem auto;
        }

        .caption {
            margin-bottom: 0;
            line-height: 140px;
            height: 140px;
            width: 140px;

            &-outer {
                display: block;
                margin: 2rem auto;
            }

            .circle {
                width: 140px;
                height: 140px;
                margin: 0 auto;
            }
        }

        .info_item-wrap {
            padding: 5rem auto;

            :first-child {
                .caption {
                    &:before {
                        display: none;
                    }
                }
            }
            :last-child {
                .caption {
                    &:after {
                        display: none;
                    }
                }
            }
        }

    }
}


