$circle-size: 140px;


.info_safety {
    position: relative;
    background: {
        image: url("../img/daniel-frank-223182.jpg");
        size: cover;
        position: center;
        };
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $shadowed-bg;
        }

        .info_item {
            position: relative;
            padding: 0;
            text-align: center;
            color: $white;
            vertical-align: middle;
        }


    .circle {
        display: block;
        margin: auto;
        width: $circle-size;
        height: $circle-size;
        line-height: $circle-size;
        text-transform: uppercase;
        font-size: 3rem;
        vertical-align: middle;
        border: {
            width: 1px;
            color: $white;
            style: solid;
            radius: 50%;
        };

        &-outer {
            display: inline-block;
            max-width: 12rem;
            font-size: 1.4rem;
        }
    }

    .btn {
        display: block;
        margin: 3rem auto;
    }

}

@media (min-width: $small-screen) {
    .info_safety {

        .info_item {

            &:before {
                content: "";
                position: absolute;
                top: 70px;
                left: 0;
                width: calc(50% - 70px);
                height: .1rem;
                background-color: $white;
            }
            &:after {
                content: "";
                position: absolute;
                top: 70px;
                right: 0;
                width: calc(50% - 70px);
                height: .1rem;
                background-color: $white;
            }
             &-wrap {

                 :first-child, :nth-child(3) {
                     &:before {
                         display: none;
                     }
                 }
                 :last-child, :nth-child(2) {
                     &:after {
                         display: none;
                     }
                 }
             }
        }

            .circle {
                width: $circle-size;
                height: $circle-size;
                line-height: $circle-size;
                margin: 0 auto;
            }


    }
}

@media (min-width: $large-screen) {
    .info_safety {

        .info_item-wrap {

            :nth-child(2) {
                &:after {
                    display: inline-block;
                }
            }
            :nth-child(3) {
                &:before {
                    display: inline-block;
                }
            }
        }
    }

}



