.tags_wrap {
  padding: 2rem 0;

  &-inner {
    display: flex;
    flex-wrap: wrap;
  }

  .tag_item {
    display: inline-block;
    padding: .7rem 1rem;
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    background-color: $tag-color-bg;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .close_icon {
    position: relative;
    top: .4rem;
    margin-left: .3rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 2rem;
      height: .1rem;
      background-color: $white;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 2rem;
      height: .1rem;
      background-color: $white;
      transform: rotate(-45deg);
    }
  }
}
