.info_safety {
    background-image: url("../img/daniel-frank-223182.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;


    .info_item {
        margin-bottom: 8rem;
        display: block;
        width: 50%;
        height: 140px;
        line-height: 140px;
        text-align: center;

        &:first-child {
            .circle {
                &:before {
                    display: none;
                }
            }
        }

        &:last-child {
            .circle {
                &:after {
                    display: none;
                }
            }
        }

        &:nth-child(2) {
            .circle {
                &:after {
                    display: none;
                }
            }

        }

        &:nth-child(3) {
            .circle {
                &:before {
                    display: none;
                }
            }

        }

        .circle {
            display: inline-block;
            position: relative;
            width: 140px;
            height: 140px;
            vertical-align: top;
            border: 1px solid #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 140px;

            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 70px;
                left: 100%;
                height: 1px;
                background-color: #fff;
                width: 100%;
            }

            &:before {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 70px;
                right: 100%;
                height: 1px;
                background-color: #fff;
                width: 100%;
            }

        }

        .caption {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 4rem;
            color: #fff;

            &-outer {
                display: block;
                line-height: 1;
                padding: 1rem 4rem;
                font-size: 1.3rem;
                color: #fff;
            }
        }
    }

    .btn-read_more {
        display: block;
        margin: 5rem auto 5rem;
    }
}

@media (min-width: $medium-screen) {
    .info_safety {
        padding: 0 10vw;

        .info_item {
            width: 25%;
            margin-bottom: 0;

            .circle {

                &:after {
                    display: inline-block;
                    width: 50%;

                }

                &:before {
                    display: inline-block;
                    width: 50%;
                }

            }

            &:nth-child(2) {
                .circle {
                    &:after {
                        display: inline-block;
                    }
                }

            }

            &:nth-child(3) {
                .circle {
                    &:before {
                        display: inline-block;
                    }
                }

            }


        }

        .btn-read_more {
            display: block;
            margin: 19rem auto 9rem;
        }
    }

}

@media (min-width: $small-screen) {


}